{
  "presets": [
    [
      "env",
      {
        "loose": false,
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "loose": false,
            "debug": true,
            "targets": {
              "browsers": ["last 4 versions"]
            }
          }
        ]
      ]
    },
    "rollup": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "debug": true,
            "targets": {
              "browsers": ["last 4 versions"]
            }
          }
        ]
      ],
      "plugins": ["external-helpers"]
    }
  }
}
