@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin box-shadow($property) {
	-webkit-box-shadow: $property;
	-moz-box-shadow: $property;
	box-shadow: $property;
}

@mixin box-sizing($property) {
	-webkit-box-sizing: $property;
	-moz-box-sizing: $property;
	box-sizing: $property;
}

@mixin opacity($opacity) {
	opacity: $opacity / 100;
	filter: alpha(opacity=$opacity);
}

@mixin placeholder($weight, $color) {
	&::-webkit-input-placeholder {
		color: $color;
		font-family: $bodyFontFamily;
		font-weight: $weight;
		line-height: 1.33em;
	}
	&::moz-placeholder {
		color: $color;
		font-family: $bodyFontFamily;
		font-weight: $weight;
		line-height: 1.33em;
	}
	&:-moz-placeholder {
		color: $color;
		font-family: $bodyFontFamily;
		font-weight: $weight;
		line-height: 1.33em;
	}
	&:-ms-input-placeholder {
		color: $color;
		font-family: $bodyFontFamily;
		font-weight: $weight;
		line-height: 1.33em;
	}
}

@mixin transition($property, $duration) {
	-webkit-transition: $property $duration;
	-moz-transition: $property $duration;
	transition: $property $duration;
}