// Typeface
$bodyFontFamily: "omnes-pro", sans-serif;
$headerFontFamily: 'norwester', sans-serif;
$japaneseFontFamily: "Hiragino Kaku Gothic Pro", "Meiryo", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", 'ＭＳ Ｐゴシック', sans-serif;

// Colors
$black: #000;

$blue: #bae4e5;
$blueDark: darken($blue, 25%);
$blueDarker: darken($blueDark, 15%);

$green: #af0;
$greenDark: darken($green, 25%);

$gray: #eee;
$grayDark: darken($gray, 25%);
$grayDarker: darken($grayDark, 25%);

$pink: #f0a;

$white: #fff;