body, table, .pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
	font-family: $bodyFontFamily;
}

body {
	background-image: url('../images/shattered.png');
	font-size: 200%;
	font-weight: 400;
}

h1, h2 {
	font-family: $headerFontFamily !important;
	text-align: center;
}

h2 {
	color: $grayDarker;
	text-transform: uppercase;
}

textarea,
input[type="text"] {
	-webkit-appearance: none;
	@include border-radius(0);
}

[lang=ja] {
	font-family: $japaneseFontFamily;
}


.pure-u-1, .pure-u-1-2 {
	padding-bottom: 1em;
	@include box-sizing(border-box);
}
.pure-u-1-2 {
	&:first-child {
		padding-right: 0.5em;
	}
	&:last-child {
		padding-left: 0.5em;
	}
}