section#documentation {
	@include box-shadow(0 0 5em rgba(0,0,0,0.25));
	table {
		background: #0b1022;
		color: $white;
		font-size: 50%;
	}
	thead, tbody {
		th, td {
			padding: 1em;
		}
	}
	thead {
		background-color: $black;
		border-bottom: 1px solid $gray;
		th {
			font-weight: 500;
			text-align: left;
		}
	}
	tbody {
		td {
			&:first-child {
				font-family: 'Monaco', courier, monospace;
			}
			&:last-child {
				@include opacity(50);
			}
		}
		tr {
			span {
				color: #61CE3C;
			}
			&:nth-child(2n+1) {
				background-color: rgba(255,255,255,0.1);
			}
		}
	}
}