@font-face {
	font-family: 'FontAwesome';
	src: url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?v=3.2.1');
	src: url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'norwester';
	src: url(../fonts/norwester-v1.2/norwester.eot);
	src: url(../fonts/norwester-v1.2/norwester.eot?#iefix) format("embedded-opentype"), url(../fonts/norwester-v1.2/norwester.woff) format("woff"), url(../fonts/norwester-v1.2/norwester.ttf) format("truetype");
}