#github {
	margin-top: 0.5em;
	color: $white;
	font-size: 50%;
	@include opacity(50);
	a {
		color: $white;
		border-bottom: 1px dotted $white;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}