@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?v=3.2.1");
  src: url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'norwester';
  src: url(../fonts/norwester-v1.2/norwester.eot);
  src: url(../fonts/norwester-v1.2/norwester.eot?#iefix) format("embedded-opentype"), url(../fonts/norwester-v1.2/norwester.woff) format("woff"), url(../fonts/norwester-v1.2/norwester.ttf) format("truetype"); }

body, table, .pure-g [class*="pure-u"], .pure-g-r [class*="pure-u"] {
  font-family: "omnes-pro", sans-serif; }

body {
  background-image: url("../images/shattered.png");
  font-size: 200%;
  font-weight: 200; }

h1, h2 {
  font-family: "norwester", sans-serif !important;
  text-align: center; }

h2 {
  color: #6e6e6e;
  text-transform: uppercase; }

textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

[lang=ja] {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif; }

.pure-u-1, .pure-u-1-2 {
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-u-1-2:first-child {
  padding-right: 0.5em; }
.pure-u-1-2:last-child {
  padding-left: 0.5em; }

#content {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 980px; }

section[id^=demo-] {
  -webkit-box-shadow: 0 0 5em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.25); }
  section[id^=demo-] code:before {
    display: block;
    color: rgba(255, 255, 255, 0.3); }
  section[id^=demo-] form textarea {
    resize: none;
    background-color: #eeeeee;
    width: 100%;
    height: 1em;
    padding: 1.5em;
    color: #6e6e6e;
    font-weight: bold;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s; }
    section[id^=demo-] form textarea::-webkit-input-placeholder {
      color: #aeaeae;
      font-family: "omnes-pro", sans-serif;
      font-weight: 300;
      line-height: 1.33em; }
    section[id^=demo-] form textarea::moz-placeholder {
      color: #aeaeae;
      font-family: "omnes-pro", sans-serif;
      font-weight: 300;
      line-height: 1.33em; }
    section[id^=demo-] form textarea:-moz-placeholder {
      color: #aeaeae;
      font-family: "omnes-pro", sans-serif;
      font-weight: 300;
      line-height: 1.33em; }
    section[id^=demo-] form textarea:-ms-input-placeholder {
      color: #aeaeae;
      font-family: "omnes-pro", sans-serif;
      font-weight: 300;
      line-height: 1.33em; }
  section[id^=demo-] pre, section[id^=demo-] .output {
    position: relative;
    padding: 1.5em;
    font-size: 50%; }
  section[id^=demo-] .code-sample pre {
    margin-bottom: 0; }
    section[id^=demo-] .code-sample pre:last-child {
      padding-top: 0; }
    section[id^=demo-] .code-sample pre:first-child {
      padding-top: 1.5em; }
  section[id^=demo-] .output {
    padding-left: 3.5em;
    background-color: #bae4e5;
    color: #3a9799;
    font-size: 50%;
    word-wrap: break-word; }
    section[id^=demo-] .output:before {
      content: '\f064';
      position: absolute;
      top: 0;
      left: 1.3em;
      color: #5dc0c2;
      font-family: FontAwesome;
      line-height: 4.85em; }

code[data-language=html]:before {
  content: 'HTML'; }

code[data-language=javascript]:before {
  content: 'JS'; }

#secondary-functions section[id^=demo-] {
  position: relative; }
  #secondary-functions section[id^=demo-] form {
    position: relative; }
    #secondary-functions section[id^=demo-] form:before {
      content: 'str =';
      position: absolute;
      top: 0;
      left: 1.3em;
      color: #d4d4d4;
      font-size: 50%;
      font-weight: 300;
      line-height: 4.3em; }
    #secondary-functions section[id^=demo-] form textarea {
      padding-left: 3.5em;
      font-size: 50%; }
#secondary-functions pre {
  padding: 2em 2em 2em 3.7em; }
#secondary-functions code[data-language=javascript]:before {
  content: 'JS';
  position: absolute;
  top: 0;
  left: 1.4em;
  line-height: 5.5em; }

footer {
  margin-top: 2em;
  color: #6e6e6e;
  font-size: 50%;
  border-top: 1px solid #aeaeae; }
  footer a {
    color: #6e6e6e;
    border-bottom: 1px dotted #aeaeae;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
    footer a:hover {
      color: #ff00aa;
      text-decoration: none; }
  footer ul {
    margin: 1em 0 0;
    padding: 0; }
    footer ul li {
      display: block; }
  footer #footer-other-info {
    text-align: right; }

#github {
  margin-top: 0.5em;
  color: white;
  font-size: 50%;
  opacity: 0.5;
  filter: alpha(opacity=50); }
  #github a {
    color: white;
    border-bottom: 1px dotted white;
    text-decoration: none; }
    #github a:hover {
      text-decoration: none; }

header {
  position: relative;
  margin-bottom: 1em;
  padding: 2em;
  background-color: #eeeeee;
  background-image: url("../images/header.jpg");
  background-size: cover;
  border-bottom: 1px solid white;
  -webkit-box-shadow: inset 0 0 5em black;
  -moz-box-shadow: inset 0 0 5em black;
  box-shadow: inset 0 0 5em black; }
  header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    -webkit-box-shadow: inset 0 -2em 5em black;
    -moz-box-shadow: inset 0 -2em 5em black;
    box-shadow: inset 0 -2em 5em black; }
  header h1, header #download {
    position: relative;
    z-index: 1; }
  header h1 {
    margin: 0;
    color: white;
    font-size: 3em;
    letter-spacing: -0.02em;
    line-height: 1em; }
    header h1 small {
      display: block;
      margin: 1em 0;
      font-family: "omnes-pro", sans-serif;
      font-size: 40%;
      font-weight: 200;
      letter-spacing: -0.01em;
      line-height: 1.2em; }
    header h1 span {
      letter-spacing: -0.1em; }
  header #download {
    padding: 1em 0 0;
    text-align: center; }
    header #download small {
      display: block;
      font-size: 50%;
      opacity: 0.5;
      filter: alpha(opacity=50); }
    header #download .pure-button {
      background-color: #aaff00;
      color: #558000;
      font-weight: 300;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

section#documentation {
  -webkit-box-shadow: 0 0 5em rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5em rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.25); }
  section#documentation table {
    background: #0b1022;
    color: white;
    font-size: 50%; }
  section#documentation thead th, section#documentation thead td, section#documentation tbody th, section#documentation tbody td {
    padding: 1em; }
  section#documentation thead {
    background-color: black;
    border-bottom: 1px solid #eeeeee; }
    section#documentation thead th {
      font-weight: 500;
      text-align: left; }
  section#documentation tbody td:first-child {
    font-family: 'Monaco', courier, monospace; }
  section#documentation tbody td:last-child {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  section#documentation tbody tr span {
    color: #61CE3C; }
  section#documentation tbody tr:nth-child(2n+1) {
    background-color: rgba(255, 255, 255, 0.1); }

@media (max-width: 767px) {
  body {
    font-size: 150%; }

  h2 {
    font-size: 1em; }

  header {
    margin-bottom: 0.5em;
    background-position: 45% 0; }
    header h1 {
      font-size: 1.5em; }

  footer #footer-other-info {
    text-align: left; }

  .pure-u-1-2:first-child {
    padding-right: 0; }
  .pure-u-1-2:last-child {
    padding-left: 0; }

  section[id^=demo-], section#documentation {
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }

  #content {
    margin: 0 auto;
    padding: 0 0.5em;
    max-width: 980px; }

  #ime {
    padding: 1.5em;
    font-size: 50% !important; }

  section#documentation table {
    display: block; }
  section#documentation thead {
    display: none; }
  section#documentation tbody {
    display: block;
    width: 100%;
    max-width: 100%; }
    section#documentation tbody tr {
      display: block;
      width: 100%;
      max-width: 100%; }
    section#documentation tbody td {
      display: block; }
      section#documentation tbody td:last-child {
        padding-top: 0; } }
