:root {
  --white: #e5e5e5;
  --orange: #eb6d47;
  --blue: #0093DD;
  --greyLight: #eee;
  --greyDark: #555;
  --shadowLight: #e1e1e1;
}

html body {
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--greyLight);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
  main > section {
    min-width: 500px;
  }
}

h2 {
  color: var(--orange);
  text-align: center;
}

input {
  display: block;
  border: none;
  color: var(--greyDark);
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 20px;
  font-weight: 300;
  overflow: auto;
  width: 100%;
  height: 3em;
  text-align: center;
  -webkit-appearance: none;
  box-shadow: 3px 3px 0 var(--shadowLight);
}

input:focus {
  outline: none;
}


#input-IME {
  font-size: 24px;
  color: var(--blue);
  font-weight: bold;
  height: auto;
  padding: .5em;
  margin-bottom: 1.5rem;
  max-width: calc(100% - 1em);
}

.wk-site-header {
  display: block;
  color: var(--white);
  background-color: var(--orange);
  width: auto;
  padding: 0px;
  text-align: center;
  font-size: 1.2em;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 2px 0 var(--white);
  -moz-box-shadow: 0px 2px 0 var(--white);
  box-shadow: 0px 2px 0 var(--white);
}

.wk-site-name {
  margin-top: 0;
  padding: 2rem;
  text-decoration: none;
  font-size: calc(7vmin);
  color: white;
}

.wk-content {
  padding: 15px 15px 10px 15px;
}

.wk-site-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.wk-site-footer li {
  margin: .25em .75em;
}

.output {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
  max-width: calc(100% - 1.5rem);
  min-height: calc(56px - 1rem);
  padding: .5rem .75rem;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
  color: var(--blue);
  -webkit-appearance: none;
  text-shadow: 0px 3px 0 var(--shadowLight);
}
